.img_1 {
	position: absolute;
	top: 120px;
	left: 150px;
}
.img_2 {
	position: absolute;
	bottom: 00000000px;
	right: 170px;
}
.paragraph {
	margin-left: 400px;
	margin-right: 400px;
}
.p3 {
	margin-left: 140px;
	margin-right: 160px;
}
.p2 {
	margin-left: 100px;
	margin-right: 120px;
}
.paragraph2 {
	margin-left: 170px;
	margin-right: 400px;
}
